extends layout

block content
	div.container
		h1 GET

	div.container
		form(method: post)
			div
				div
					br
					a(href="/price")
						button(type="button" onclick="Price(#{price})") Price
					h4 Current Price #{price} 
					br
					a(href="/blocks")
						button(type="button" onclick="Block(#{block})") Blocks
					h4 Blocks Mined #{block} 
					br
					a(href="/minetime")
						button(type="button" onclick="Mine(#{mtime})") Mining Time
					h4 Mining Time #{mtime} 
					br
					a(href="/messages")
						button(type="button") Recent 5 Messages
					br
					a(href="/allmessages")
						button(type="button") All Messages
