extends layout

block content
	div.container
		h1 GET

	div.container
		form(method: post)
			div
				div	 
					br
					h4 Current Price #{price}
						a(href="/price")
							button(type="button" onclick="Price(#{price})") Price	 
					br
					h4 Blocks Mined #{block} 
						a(href="/block")
							button(type="button" onclick="Block(#{block})") Blocks	
					br
					h4 Mining Time #{mtime} 
						a(href="/minetime")
							button(type="button" onclick="Mine(#{mtime})") Mining Time
					br
					h4 Recent Messages
						a(href="/messages")
							button(type="button") Recent 5 Messages
					br
					h4 All Messages
						a(href="/allmessages")
							button(type="button") All Messages

	div.container
		h1 POST

		form(method='POST')
			p
				| Message:
				input(type='text', name='Message', value='')
				br
				br
				|  Encryption Type:
				br 
				label None 
					input(type='checkbox', name="None", checked)
				label SHA1 
					input(type='checkbox', name="SHA1")
				label Language 
					input(type='checkbox', name="Language")
			input(type='submit', value='Submit')